body{
    font-family: Arial, sans-serif;
    background-color:rgb(220, 236, 247) ;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    
    color: rgb(19, 19, 62);
    

}
.container{
    background: rgb(99, 157, 159);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}
h1{
    margin-bottom: 20px;
}
.btn{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.btn.register{
    background-color: blue;
}
.btn.register:hover{
    background-color: blueviolet;
}
.btn.login{
    background-color: blue;
}
.btn.login:hover{
    background-color: brown;
}